# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\eddie\Desktop\My Stuff\School Crap\College\UW\Winter 2021\TCSS 371B\Homework\371B HW5\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
